name: Build and Publish image to Docker Hub
on:
  [workflow_dispatch]
jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
      - uses: actions/checkout@v4
      - name: maven package
      - run: ./mvnw package -DskipTests
      - name: docker build image
        run: docker build -f src/main/docker/Dockerfile.jvm -t izizi:$(date +%s) .