name: Build and Publish image to Docker Hub
on:
  [workflow_dispatch]
jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: maven package
        run: ./mvnw clean package
      - name: docker build image
        run: docker build -f src/main/docker/Dockerfile.jvm -t arnaldosena/izizi:latest .
      - name: push image to docker hub
        run: |
          docker login -u arnaldosena -p ${{ secrets.DOCKER_HUB_SECRET }}
          docker push arnaldosena/izizi:latest
