name: Build and Publish image to Docker Hub
on:
  [workflow_dispatch]
jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
      - uses: actions/checkout@v4
      - name: docker build image
        run: docker build ./src/main/docker --file Dockerfile --tag izizi:$(date +%s)